body {
	margin:0px; 
	padding:0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	}
div#conteiner {
	width:auto;
}

div#topo {
	height:36px;
	background-color:#f3f3f3;
	border-bottom:#e4e4e4 2px solid;
	padding-top:10px;
	padding-left:10px;
} 
div#spacetop {
	height:10px;
}
	div#toptopo {
		height:20px;
	}
	div#subtopo {
		height:16px; 
		color:#000000; 
		text-align:right;
	}
	span.topostyle {
		font-size:18px;
		font-weight:bold;
		color:#323232;
	}    
	span.title_pacote {
		font-size:14px;
		font-weight:bold;
		color:#656565;
	}  
	div#centro {
		margin:0 auto;
	}
	
	div#left {
		width:218px;
		border-right:#e4e4e4 2px solid;
		float:left;
	}   
		div.content_pacotes_top {
			width:164px;
			height:28px;
			margin:0 auto;
			border-bottom:#e4e4e4 1px solid;
		}
		div.content_pacotes {
			width:164px;
			margin:0 auto; 
		}   
		div.content_pacotes ul li {
			list-style:none;
		}
			div.content_pacotes ul li a {
				
			}
	
	div#right {
		width:218px;
		border-left:#e4e4e4 2px solid;		
		float:right;	
	}
	 div#center {
			margin:0 220px; 
		}